

#main-container
{
    margin: 150px auto;
    width:600px;
}
table
{
    background-color: white;
    text-align: left;
    width: 100%;
}

table.tienda
{
    background-color: white;
    text-align: left;
    width: 50%;
}

th, td {
    padding: 10px;
}

thead{
    background-color: rgb(146, 218, 32);
    border-bottom: solid 1px black;
    color: white;
}

tr:nth-child(even){
    background-color: rgb(255, 248, 248);
}